/* NOTE: This style is NOT vertical layout friendly! */

@define-color white      	#F2F2F2;
@define-color black      	#000000;
@define-color text       	#FFFFFF;
@define-color lightgray  	#686868;
@define-color darkgray   	#353535;
@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;
@define-color foreground #D4DFEA;
@define-color background #000005;
@define-color background-alt rgba(0,0,5,0.25);
@define-color cursor #98A7B8;
@define-color color0 #000005;
@define-color color1 #3B4554;
@define-color color2 #455364;
@define-color color3 #4F6073;
@define-color color4 #596E83;
@define-color color5 #647B92;
@define-color color6 #647B92;
@define-color color7 #BAC9D9;
@define-color color8 #828D98;
@define-color color9 #4E5D70;
@define-color color10 #5C6E85;
@define-color color11 #6A809A;
@define-color color12 #7792AE;
@define-color color13 #85A4C3;
@define-color color14 #85A4C3;
@define-color color15 #BAC9D9; 

@define-color transparent	rgba(1, 1, 1, 0.5);
@define-color teal-trans	rgba(1, 117, 84, 0.5);
@define-color cyan			rgba(53, 140, 169, 1);

@define-color background-module     @color1;
@define-color background-module2	@color11;
@define-color border-color          @color12;
@define-color button-color          @color10;
@define-color button-hover          @color13;

@define-color backgroundlight @color12;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground1 @color12;
@define-color workspacesbackground2 #FFFFFF;
@define-color bordercolor @color11;
@define-color textcolor1 @color12;
@define-color textcolor2 #FFFFFF;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

* {
    font-family: "Source Code Pro";
    font-weight: bold;
	min-height: 0;  
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background-color: transparent;
    border-radius: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 4px;
	padding-left: 4px;
}




tooltip {
    background: #000000;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: @border-color;
    color: #ffffff;
}

#taskbar button,
#workspaces button {
    padding: 0px 3px;
    margin: 3px 2px;
    border-radius: 4px;
    color: @textcolor1;
    background-color: @workspacesbackground2;
    transition: all 0.1s linear;
    opacity: 0.4;
}

#taskbar button.active,
#workspaces button.active {
    color: @lavender;
    background: @workspacesbackground2;
    border-radius: 4px;
    min-width: 30px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    opacity: 1.0;
}

#taskbar button:hover,
#workspaces button:hover {
    color: @gray;
    background-color: transparent;
}

#workspaces button.focused {
    color: #b5bbc4;
}

#workspaces button.urgent {
    color: #11111b;
    border-radius: 10px;
}

/*-----module groups----*/
.modules-left{
    background-color: transparent;
}

.modules-right {
    background-color: transparent;
}

.modules-center {
    background-color: transparent;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    color: white;
	padding-right: 6px;
	padding-left: 6px;
}

#temperature.critical {
    background-color: #ff0000;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#custom-hint {
	color: @peach;
	padding-right: 6px;
	padding-left: 6px;
}

#pulseaudio.muted {
    color: red;
}

#temperature.critical {
    background-color: @red;
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#pulseaudio-slider,
#pulseaudio {
	color: @foreground;
}

#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#custom-hypridle,
#custom-lock,
#idle_inhibitor {
    color: @teal;
}

#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default, 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	color: @lavender;
	padding-right: 6px;
	padding-left: 6px;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}

#clock {
	color: @gray;
    border-radius: 15px;
}

#custom-updates {
    color: @yellow;
}

#custom-swaync{
    color: #ffd700;}

